#logo{
}

body{
	background-color: #fff;
}


#preview-index{
	background-color:#9BC2E6;
}


#current-index{
	background-color:#EC9DF9;
}

#forecast-index-pos{
	background-color:#A9D08E;
}

#forecast-index-neg{
	background-color:#FE6868;
}

#global-card{
	background-color:#5460D0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}