{% url 'home' as home %}
{% url 'home1' as home1 %}
{% url 'line_chart' as line_chart %}
{% url 'line_chart2' as line_chart2 %}
{% load static %}
<div id="accordian">
            <ul class="show-dropdown main-navbar">
                <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
                <li>
                    <a href="{% url 'home1' %}"><img  src="{% static 'indexes_forcasting/logo/logo_diffusion_indexes_v2.png' %}"
                      alt="Logo diffusion indexes" width=80%></i></a>
                </li>
                <li class="{% if request.path == home1 %} active {% endif %}">
                    <a href="{% url 'home1' %}"><i class="fas fa-search-dollar"></i>Forcast app</a>
                </li>
                <li class="{% if request.path == home %} active {% endif %}">
                    <a href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i>Index value</a>
                </li>
                <li class="{% if request.path == line_chart %} active {% endif %}">
                    <a href="{% url 'line_chart' %}"><i class="fas fa-chart-line"></i>Chart Indexes</a>
                </li>
                <li class="{% if request.path == line_chart2 %} active {% endif %}">
                    <a href="{% url 'line_chart2' %}"><i class="fas fa-chart-line"></i>Chart CAC40</a>
                </li>
                <li >
                    <a href="javascript:void(0);"><i class="fas fa-calculator"></i>Method</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="far fa-address-card"></i>About US</a>
                </li>
                
            </ul>
</div>